*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared stle*/
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo{
    font-size: 45px;
}
.orange{
    color:#FD6E0A;
    font-weight: 900px;

}

.butt{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size:20px;
    font-weight:bold;
    color: #FFF8F3;
    display: inline-block;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2{
    font-size: 35px;
    margin-top: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:rgb(33, 33, 104) ;
}

/*main style*/
header{
    background-color: #FFF8F3;
    padding-top: 50px;

    background: url(../ChatGPT_Image_Jan_9__2026__08_48_31_PM-removebg-preview.png),#FFF8F3;
    background-position: bottom right;
background-repeat: no-repeat;
}

nav{
   width:71% ;
   max-width: 1140px; 
   /*border: 1px solid red;*/
   margin:0px auto;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    text-align: center;

}
#banner{
    
    margin: 47px 38px 0 230px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom:5px ;


}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold ;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner .banner-image{
    max-width: 535px;
    vertical-align:middle;
}
#about,#skills,#resume{
    padding-top: 130px;

}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;


}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
 .about-info .info-car p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color:rgb(33, 33, 104) ;

 }
 .about-info .info-car{
    font-size: 20px;
 }
 
 .skills-container{
    width: 71%px;
    max-width: 1140px;
    margin: 0 auto;
 }
 #skills .skills-container .skill-box{
    display: flex;
    gap: 24px;

 }
 .skill-box .skill-card .imgi{
    width: 60px;
    height: 45px;
    margin-bottom: 30px;

 }
  .skill-box .skill-card{
    padding: 30px;
    
    max-width: 267px;
    box-shadow: 0 7px 50px 0px rgb(114, 149, 214);
  }
  .skill-card h3{
    font-size:20px ;
    color: #181818;
    margin-bottom: 20px;

}
.about-info .info-car p{
    font-size: 16px;
    
    line-height: 28px;
    color:rgb(33, 33, 104) ;


}
#resume .resume-container{
width: 71%;
max-width: 1140px;
margin: 112px auto 0;
display: flex;
gap: 24px;
}

.resume-container .section-tittle{
    font-size: 30px;
    color: #474747;
    margin-bottom:30px ;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-tittle{
    font-size: 25px;
margin-bottom: 10px;
color: #474747;
}
.resume-card .card-tittle .card-info{
    font-size: 20px;
font-weight: 600;
color: #474747;
margin-bottom:20px ;
}
.resume-container hr{
    margin: 30px;
}
.resume-card .card-text{
    font-size: 16px;
line-height:28px ;
color: #757575;

}
